.temp{
    display: none;
}
@media screen and (max-width: 414px){
    .cloud-container,
    .master-container,
    .quiz-container{
        display: none;
    }
    .temp{
        display: block;
        text-align: center;
    }
}